* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    margin: 23px 375px 836px 1006px;
}


p { position:absolute;
    margin: 556px 764px 200px 136px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
 mix-blend-mode: normal;
    opacity: 0.6;}

h1 {
    position: absolute;
    margin: 381px 936px 359px 136px;
    width: 368px;
height: 160px;
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 80px;
color: #5D5D7D;
}

.opaco {
    position: absolute;
    height: 901px;
    width: 491px;
    margin: 0px 0px 0px 949px;
    border-radius: 0px;
    background: #5D5D7D;
    mix-blend-mode: normal;
    opacity: 0.16;
}

.Get-Started {
    position: absolute;
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    margin: 715px 1035px 123px 136px;
    font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
border: none;
border-radius: 30PX;


color: #FFFFFF;


}

.link-header {
    margin-left: 41px;
    font-weight: 400;
font-size: 28px;
line-height: 41px;

color: #5D5D7D;
}

.logo {
    position: absolute;
    width: 456px;
    height: 561.95px;
    margin: 215px 177px 123.05px 807px;
}